/* Fuente externa de google */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* Inicia Reset de css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Termina Reset de css */


/* Inician estilos generales de css  */
p{
    /* color: rgba(0, 4, 255, 0.685); */
    /* nombre de color, hexadecimal, rgb, rgba */
    font-size:30px;
    margin: 20px;
}

h1{
    color: blueviolet;
    text-align: center;
}

body{
    background-color: rgb(232, 218, 201);
}

div{
    color: rgb(128, 0, 0);
}

span{
    color: red;
}

div span{
    color: green;
}

.titulos{
    color: yellow;
    text-decoration: underline;
}

#testimonios {
    text-align: center;
}

/* terminan estilos generales de css */

/* Iniciacn Estilos de la pagina de servicios */

.tituloServicios{
    color: blue;
    text-transform: uppercase;
    font-size: 24px;
}

.parrafoServicios{
    color: rgb(197, 13, 13);
    font-style: italic;
    font-size: 1.5em;
    font-weight:lighter;
    font-family: "Jost", sans-serif;;
}

/* Terminan Estilos de la pagina de servicios */


